{
   "main":
    {
		"host": "192.168.1.51,9433",
		"user": "sa",
		"password": "efsa2014",
		"database": "CXFX_DATA",
                "maxcount": 10,
		"commandTimeOut":120,   //120√Î
    },
   "sys":
    {
		"host": "192.168.1.2",
		  "user": "sa",
		  "password": "efsa2014",
                  "maxcount": 10,
		  "database": "CXFX_SYS"
    },
}
